@import "tailwindcss";

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-dark-teal: #0E3B43;
  --color-pine: #357266;
  --color-ash: #A3BBAD;
  --color-olive: #65532F;
  --color-walnut: #312509;
}

:root {
  --background: #A3BBAD;
  --foreground: #0E3B43;
  --dark-teal: #0E3B43;
  --pine: #357266;
  --ash: #A3BBAD;
  --olive: #65532F;
  --walnut: #312509;
}

body {
  background: var(--background);
  color: var(--foreground);
}

.nanum-pen-script-regular {
  font-family: var(--font-nanum-pen-script), cursive;
  font-weight: 400;
  font-style: normal;
}

.figtree {
  font-family: var(--font-figtree), sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.figtree-light {
  font-family: var(--font-figtree), sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.figtree-regular {
  font-family: var(--font-figtree), sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.figtree-medium {
  font-family: var(--font-figtree), sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
}

.figtree-semibold {
  font-family: var(--font-figtree), sans-serif;
  font-optical-sizing: auto;
  font-weight: 600;
  font-style: normal;
}

.figtree-bold {
  font-family: var(--font-figtree), sans-serif;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.reenie-beanie-regular {
  font-family: var(--font-reenie-beanie), cursive;
  font-weight: 400;
  font-style: normal;
}
